@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  @apply bg-background text-text-primary antialiased;
}

::selection {
  background: rgba(255, 26, 67, 0.5);
  color: #fff;
}
